index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/7FUAChXktczDmopR8wMwPV/icons.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <title>TFC</title>
  </head>
  <body>
    <div class="Container">
      <header class="Header">
        <div class="Logo"><img src="images/logo2.png"/></div>
        <div class="Navegacion">
          <nav class="Nav Nav__Primero">
            <ul>
              <li><a href="#">Personas</a></li>
              <li><a href="#">Emprendedor</a></li>
              <li><a href="#">Empresa</a></li>
              <li><a href="#">Agencias <img src="images/agencias.png"></a></li>
            </ul>
          </nav>
          <nav class="Nav Nav__Segundo">
            <ul>
              <li><a class="icon-home" href="#"></a></li>
              <li><a class="icon-dia-dia" href="#">Tu día a día</a></li>
              <li><a class="icon-cuenta-conmigo" href="#">Cuenta Conmigo</a></li>
              <li><a class="icon-vive-bien" href="#">Vive Bien</a></li>
              <li>
                <form class="Nav__Segundo__Form" action="">
                  <input type="text"/><span class="icon-search"></span>
                </form>
              </li>
            </ul>
          </nav>
        </div>
        <div class="Slide"><img src="images/banner.png" alt=""/><img src="images/banner2.png" alt=""/><img src="images/banner3.png" alt=""/><img src="images/banner4.png" alt=""/></div>
      </header>
      <div class="ed-container main-justify">
        <div class="ed-item s-50 TodasTusCuentas">
          <div class="ed-container">
            <div class="ed-item s-50"><img src="images/computer.png" alt=""/></div>
            <div class="ed-item s-50 TodasTusCuentas__Texto">Todas tus cuenta <a href="#">&nbsp;AQUÍ</a></div>
          </div>
        </div>
        <div class="ed-item s-50 TipoDeCambio">
          <h2 class="TipoDeCambio__Titulo">tipo de cambio</h2>
          <ul class="TipoDeCambio__Lista">
            <li>Compra: S/. 3.18</li>
            <li>Venta: S/. 3.30</li>
          </ul>
          <ul class="TipoDeCambio__Nota">
            <li>El tipo de cambio se actualizara de lunea a viernes a las 10:00 am <span>tipos de cambio referenciales</span></li>
          </ul>
        </div>
      </div>
      <section class="Calcula">
        <div class="Calcula__container">
          <div class="Calcula__item"><img src="images/calculadora_dpf.png" alt=""/>
            <div class="Calcula__item__contenido">
              <p>¡Calcula cúanto ganarás con la tasa TFC!</p>
              <h2><a href="#">Calculadora DPF</a></h2>
            </div>
          </div>
          <div class="Calcula__item"><img src="images/calculadora_cts.png" alt=""/>
            <div class="Calcula__item__contenido">
              <p>¡Calcula cúanto crecerá tu CTS con nosotros!</p>
              <h2><a href="#">Calculadora CTS</a></h2>
            </div>
          </div>
          <div class="Calcula__item"><img src="images/ubicanos_en.png" alt=""/>
            <div class="Calcula__item__contenido ubicanos">
              <p>Cambista Preferencial</p>
              <h2><a href="#">Ubícanos en</a></h2>
            </div>
          </div>
        </div>
      </section>
      <section class="NuestrosProductos">
        <div class="ed-container">
          <div class="ed-item">
            <h1>Nuestros Productos</h1>
          </div>
        </div>
        <div class="ed-container">
          <div class="ed-item l-25">
            <div class="NuestrosProductos__item"><img src="images/abre_cuenta_dpf.png" alt=""/>
              <h2>¡Abre tu cuenta DPF en TFC!</h2>
            </div>
          </div>
          <div class="ed-item l-25">
            <div class="NuestrosProductos__item"><img src="images/abre_cuenta_cts.png" alt=""/>
              <h2>¡Abre tu cuenta DPF en TFC!</h2>
            </div>
          </div>
          <div class="ed-item l-25">
            <div class="NuestrosProductos__item"><img src="images/cuenta_conmigo_ahorrar.png" alt=""/>
              <h2>¡Cuenta conmigo para ahorrar!</h2>
            </div>
          </div>
          <div class="ed-item l-25">
            <div class="NuestrosProductos__item"><img src="images/disfruta_casa_propia.png" alt=""/>
              <h2>Disfruta de tu casa prpia con excelentes condiciones de financiamiento</h2>
            </div>
          </div>
        </div>
        <div class="ed-container">
          <div class="ed-item l-25">
            <div class="NuestrosProductos__boton"><a href="#">Tu cuenta DPF</a></div>
          </div>
          <div class="ed-item l-25">
            <div class="NuestrosProductos__boton"><a href="#">Empieza a ahorrar</a></div>
          </div>
          <div class="ed-item l-25">
            <div class="NuestrosProductos__boton"><a href="#">Solicita tu crédito</a></div>
          </div>
          <div class="ed-item l-25">
            <div class="NuestrosProductos__boton"><a href="#">Solicita tu crédito</a></div>
          </div>
        </div>
      </section>
      <section class="ClubTFC">
        <div class="ClubTFC__col-1-3"><img src="images/hombre_laptop.png" alt=""/></div>
        <div class="ClubTFC__col-2-3">
          <div class="clubrow1"> 
            <h2 class="ClubTFC_enfinanzate">Enfinanzate<img src="images/enfinanzate.png" alt=""/></h2>
          </div>
          <div class="clubrow2">
            <div class="clubrow2__col1">
              <div class="clubrow2__col1__fondo">
                <p>¿Eres nuevo en las Finanzas?, conoce todos los terminos que necesitas saber aquí.</p>
                <h2 class="diccionarioTitulo">Diccionario Financiero</h2>
                <form id="FormDiccionarioFinanciero">
                  <input type="text" name="buscar"/><span class="icon-search"></span>
                </form>
              </div>
            </div>
            <div class="clubrow2__col2">
              <div class="clubrow2__col2__row comoManejar">
                <div class="fondoComoManejar">
                  <p>¿Como manejar mis finanzas personales?<br></p>
                </div>
              </div>
              <div class="clubrow2__col2__row preguntasFrecuentes">
                <div class="fondoPreguntasFrecuentes">
                  <p>Preguntas frecuentes</p>
                  <form id="FormPreguntasFrecuentes">
                    <input type="text" name="pregunta"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="ClubTFC__row">Club TFC</div>
      <footer class="Footer">
        <div class="ed-container">
          <div class="ed-item l-30">
            <ul class="info">
              <li><a href="#">Cada Vez Mas Grandes</a></li>
              <li><a href="#">TFC</a></li>
              <li><a href="#">Trabaja con nosotros</a></li>
              <li><a href="#">Servicio al cliente</a></li>
              <li><a href="#">Sala de Prensa</a></li>
            </ul>
          </div>
          <div class="ed-item l-20">
            <ul class="tarifas">
              <li><a href="#">Tasas y tarifario</a></li>
              <li><a href="#">Calcula tu tarifa</a></li>
            </ul>
          </div>
          <div class="ed-item l-20">
            <ul class="leyes">
              <li><a href="#">SBS Ley de Transparencia</a></li>
              <li><a href="#">Enlace SMV</a></li>
              <li><a href="#">Libro de Reclamación</a></li>
            </ul>
          </div>
          <div class="ed-item l-20 siguenos">
            <p>Siguenos en:</p>
            <ul>
              <li><a href="#"><img src="images/facebook.png"> Facebook</a></li>
              <li><a href="#"><img src="images/linkedin.png"> Linkedin</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/jquery.matchHeight.js"></script>
    <script src="js/jquery.slides.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

pug/index.pug
<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="https://file.myfontastic.com/7FUAChXktczDmopR8wMwPV/icons.css")
		link(rel="stylesheet", href="css/styles.css")
		title TFC
	body
		.Container
			header.Header
				.Logo
					img(src="images/logo2.png")
				.Navegacion
					nav.Nav.Nav__Primero
						ul
							li: a(href="#") Personas
							li: a(href="#") Emprendedor
							li: a(href="#") Empresa
							li: a(href="#") Agencias <img src="images/agencias.png">
					nav.Nav.Nav__Segundo
						ul
							li
								a.icon-home(href="#")
							li
								a.icon-dia-dia(href="#") Tu día a día
							li
								a.icon-cuenta-conmigo(href="#") Cuenta Conmigo
							li
								a.icon-vive-bien(href="#") Vive Bien
							li
								form.Nav__Segundo__Form(action="")
									input(type="text")
									span.icon-search
				.Slide
					img(src="images/banner.png", alt="")
					img(src="images/banner2.png", alt="")
					img(src="images/banner3.png", alt="")
					img(src="images/banner4.png", alt="")
			.ed-container.main-justify
				.ed-item.s-50.TodasTusCuentas
					.ed-container
						.ed-item.s-50
							img(src="images/computer.png", alt="")
						.ed-item.s-50.TodasTusCuentas__Texto
							| Todas tus cuenta 
							a(href="#") &nbsp;AQUÍ
				.ed-item.s-50.TipoDeCambio
					h2.TipoDeCambio__Titulo tipo de cambio
					ul.TipoDeCambio__Lista
						li Compra: S/. 3.18
						li Venta: S/. 3.30
					ul.TipoDeCambio__Nota
						li El tipo de cambio se actualizara de lunea a viernes a las 10:00 am <span>tipos de cambio referenciales</span>
			section.Calcula
				.Calcula__container
					.Calcula__item
						img(src="images/calculadora_dpf.png", alt="")
						.Calcula__item__contenido
							p ¡Calcula cúanto ganarás con la tasa TFC!
							h2: a(href="#") Calculadora DPF
					.Calcula__item
						img(src="images/calculadora_cts.png", alt="")
						.Calcula__item__contenido
							p ¡Calcula cúanto crecerá tu CTS con nosotros!
							h2: a(href="#") Calculadora CTS
					.Calcula__item
						img(src="images/ubicanos_en.png", alt="")
						.Calcula__item__contenido.ubicanos
							p Cambista Preferencial
							h2: a(href="#") Ubícanos en
			section.NuestrosProductos
				.ed-container
					.ed-item
						h1 Nuestros Productos
				.ed-container
					.ed-item.l-25
						.NuestrosProductos__item
							img(src="images/abre_cuenta_dpf.png", alt="")
							h2 ¡Abre tu cuenta DPF en TFC!
					.ed-item.l-25
						.NuestrosProductos__item
							img(src="images/abre_cuenta_cts.png", alt="")
							h2 ¡Abre tu cuenta DPF en TFC!
					.ed-item.l-25
						.NuestrosProductos__item
							img(src="images/cuenta_conmigo_ahorrar.png", alt="")
							h2 ¡Cuenta conmigo para ahorrar!
					.ed-item.l-25
						.NuestrosProductos__item
							img(src="images/disfruta_casa_propia.png", alt="")
							h2 Disfruta de tu casa prpia con excelentes condiciones de financiamiento
				.ed-container
					.ed-item.l-25
						.NuestrosProductos__boton
							a(href="#") Tu cuenta DPF
					.ed-item.l-25
						.NuestrosProductos__boton
							a(href="#") Empieza a ahorrar
					.ed-item.l-25
						.NuestrosProductos__boton
							a(href="#") Solicita tu crédito
					.ed-item.l-25
						.NuestrosProductos__boton
							a(href="#") Solicita tu crédito
			section.ClubTFC
				.ClubTFC__col-1-3
					img(src="images/hombre_laptop.png", alt="")
				.ClubTFC__col-2-3
					.clubrow1 
						h2.ClubTFC_enfinanzate Enfinanzate
							img(src="images/enfinanzate.png", alt="")
					.clubrow2
						.clubrow2__col1
							.clubrow2__col1__fondo
								p ¿Eres nuevo en las Finanzas?, conoce todos los terminos que necesitas saber aquí.
								h2.diccionarioTitulo Diccionario Financiero
								form#FormDiccionarioFinanciero
									input(type="text",name="buscar")
									span.icon-search
						.clubrow2__col2
							.clubrow2__col2__row.comoManejar
								.fondoComoManejar
									p ¿Como manejar mis finanzas personales?<br>
							.clubrow2__col2__row.preguntasFrecuentes
								.fondoPreguntasFrecuentes
									p Preguntas frecuentes
									form#FormPreguntasFrecuentes
										input(type="text",name="pregunta")
			.ClubTFC__row Club TFC
			footer.Footer
				.ed-container
					.ed-item.l-30
						ul.info
							li: a(href="#") Cada Vez Mas Grandes
							li: a(href="#") TFC
							li: a(href="#") Trabaja con nosotros
							li: a(href="#") Servicio al cliente
							li: a(href="#") Sala de Prensa
					.ed-item.l-20
						ul.tarifas
							li: a(href="#") Tasas y tarifario
							li: a(href="#") Calcula tu tarifa
					.ed-item.l-20
						ul.leyes
							li: a(href="#") SBS Ley de Transparencia
							li: a(href="#") Enlace SMV
							li: a(href="#") Libro de Reclamación
					.ed-item.l-20.siguenos
						p Siguenos en:
						ul
							li: a(href="#") <img src="images/facebook.png"> Facebook
							li: a(href="#") <img src="images/linkedin.png"> Linkedin
		script(src="js/jquery-1.12.4.min.js")
		script(src="js/jquery.matchHeight.js")
		script(src="js/jquery.slides.min.js")
		script(src="js/main.js")
